.left,
.fun-facts-text,
.fun-facts-icon,
.team-item {
  float: left !important;
}

.hide {
  display: none;
}

.full-size {
  width: 100%;
}

.home-section h1 {
  float: left;
  width: 100%;
  font-size: 34px;
}

.benefits > li {
  font-size: 14px !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #333;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f0932b;
}

.footer p {
  color: #333;
}

h4,
.dropcaps_left,
.text_align_left,
.text_align_right,
.text_align_left p,
.text_align_right p,
.features_item {
  float: left;
}

.text_align_left,
.text_align_right {
  width: calc(100% - 101px);
}

.text_align_right > h4 {
  float: right;
}

.panel-default,
.panel-collapse {
  width: 100%;
}

.team-info::after {
  width: 0px;
  height: 0px;
}

.team-info p {
  float: left;
  width: 100%;
  margin: 15px 0px;
  text-align: center;
}

.feature-box-text {
  float: right;
  width: calc(95% - 85px);
  margin-left: 0px;
}

.feature-box-text > p {
  text-align: left;
}

.btn-download-app > span {
  float: left;
  margin-top: 6px;
  margin-left: -3px;
}

.section-subtitle {
  float: left;
  width: 100%;
  text-align: center;
}

#dd23 {
  clear: both;
}

.price-tag a:hover {
  color: #333 !important;
}

.fun-facts-text {
  width: calc(100% - 75px);
}

@media screen and (max-width: 990px) {
  .navbar-nav {
    background: linear-gradient(135deg,#f1c84c 0,#f7b71d 16%,#f1c84c 52%,#f1c84c 52%,rgb(253, 189, 16) 100%,#7db9e8 100%);
  }

  .card {
    width: 100%;
    clear: both;
  }

  #newsletter-section {
    padding-top: 10px;
  }
}

@media screen and (max-width: 639px) {
  #submit-button-newsletter {
    margin-top: 20px !important;
    border-radius: 5px !important;
  }

  .btn-download-app {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
    #logo {
      font-size: 6vmin !important;
    }

    .home-section h1 {
        font-size: 8vmin;
    }

    .navbar {
        background: #f6c331;
        z-index: 9991;
    }

    .navbar-brand, .navbar-fixed-top.opaque .navbar-brand {
        font-size: 24px;
    }

    .benefits {
      margin-top: 20px;
    }

    .fun-facts-box {
      width: 100%;
    }
}
